[submodule "extern/gsw"]
	path = src/extern/gsw
	url = https://github.com/TEOS-10/GSW-Fortran
[submodule "extern/lapack"]
	path = src/extern/lapack
	url = https://github.com/Reference-LAPACK/lapack.git
